html {
  font-size: 62.5%;
}

body {
  background-color: #2d3142;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
}
/*
header
*/
header {
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ca85ff;
}

.bLogo {
  height: 5rem;
  width: 5rem;
}

.navlinks {
  display: flex;
  justify-content: space-around;
}

.navbar-items {
  margin-left: 2rem;
  margin-right: 2rem;
}

.nava {
  text-decoration: inherit;
  color: inherit;
}

.nava-resume {
  text-decoration: inherit;
  color: inherit;
}

.nava:hover {
  color: #f79256;
}

.resume {
  background-color: #f79256;
  color: #2d3142;
  border-radius: 5px;
  width: 12rem;
  padding: 0.5rem 0 0.5rem 0;
  text-align: center;
}

/*
hero
*/
.hero {
  clip-path: polygon(0 0, 100% 0, 100% 64%, 0% 100%);
  background-color: #00efcd;
  padding-bottom: 10rem;
}

.profPic {
  max-width: 5%;
  height: auto;
  padding-left: 30rem;
}

.hero-text {
  display: inline-block;
  padding-left: 15rem;
  width: 55%;
}

.hero-title {
  padding-top: 15rem;
  font-size: 6.5rem;
}

.hero-body {
  padding-top: 3.5rem;
  padding-bottom: 15rem;
}

/*
bio
*/
.bio {
  width: 60%;
  margin: auto;
  color: #ca85ff;
  font-size: 2.5rem;
}

.bio-emph {
  /*color: #00efcd;*/
  font-weight: bold;
}

.sax-fact {
  background-image: url("./sax-icon.png");
  margin: 0;
  padding: 1rem 0 1rem 6rem;
  list-style: none;
  background-repeat: no-repeat;
  background-position: 0% 40%;
  background-size: 3rem;
}

.code-fact {
  background-image: url("./code-logo.png");
  margin: 0;
  padding: 1rem 0 1rem 6rem;
  list-style: none;
  background-repeat: no-repeat;
  background-position: 0% 40%;
  background-size: 3rem;
}

.third-fact {
  background-image: url("./code-logo.png");
  margin: 0;
  padding: 1rem 0 1rem 6rem;
  list-style: none;
  background-repeat: no-repeat;
  background-position: 0% 40%;
  background-size: 3rem;
}

/*
footer
*/
footer {
  font-size: 2rem;
}

.socials {
  display: flex;
  justify-content: center;
}

.social-logos {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.email {
  text-align: center;
  width: 100%;
  color: #ca85ff;
}

.links {
  color: #f79256;
}
