html {
  font-size: 62.5%;
}

body {
  background-color: #2d3142;
  color: #9100ff;
  font-size: 3rem;
  font-family: "Baloo 2", cursive;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bLogo {
  height: 5rem;
  width: 5rem;
}

.navlinks {
  display: flex;
  justify-content: space-around;
}

.navbar-items {
  margin-left: 2rem;
  margin-right: 2rem;
}

.resume {
  background-color: #00dfcd;
  color: #2d3142;
  border-radius: 5px;
  width: 11rem;
  text-align: center;
}

footer {
  font-size: 2rem;
}

.socials {
  display: flex;
  justify-content: center;
}

.social-logos {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.email {
  text-align: center;
  width: 100%;
}

.links {
  color: #f79256;
}
